<div class="signup-wrapper">
<h2>WELCOME!</h2>
<p>Complete all fields to register a new account:</p>

<form action="/auth/signup" method="POST" id="form-container">


  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="Your email">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">


  

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

 

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/stacks/show"><button class="login">Login</button></a>
  </p>
</form>



</div>

