.all-stacks {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  // margin: 2rem 0;
  // max-width:1200px;
  width: $globalwidth;
  max-width: $maxwidth;
}
.one-stack {
  /* height: 35rem; */
  // padding-bottom: 1rem;
  padding: 1.5rem;
  width: 35rem;
  height: 40rem;
  // background-color: blanchedalmond;
  border: 2px solid $primarycolor;
  box-shadow: 10px 10px 0px 2px $primarycolorSoft;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:0.3s; 

  h2:hover{
    // padding-top: 0.3rem;
    // padding-bottom:0.3rem;
    transform:translateX(2rem);
    transition:0.3s;
  }
  a{
    text-decoration:none;
    color:$primarycolor;
    transition:0.2s;
  }
  a:hover{
    text-decoration:underline;
    transition:0.2s;
  }
}

.one-stack:hover {
  box-shadow: 10px 10px 0px 2px $primarycolor;
  transition: 0.3s;
}
.mid-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding:1rem;
  // background-color: crimson;
}

.category-logo {
  height: 2.5rem;
  width: 2.5rem;
  color: $primarycolor;
  fill: $primarycolor;
  // margin: 0rem 1rem;
}

.fa-heart {
  color: $primarycolor;
  font-size: 1.8rem;
  margin: 0 1rem 0 0;
  transition: 0.2s;
}

.fa-heart2:hover {
  color: $red;
  font-size: 1.8rem;
  margin: 0 1rem 0 0;
  transition: 0.2s;
}

.stopwatch {
  width: 2.5rem;
  height: 2.5rem;
  fill: $primarycolor;
}

.fa-user {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: $primarycolor;
}

.autor {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  // border-radius: 3rem;
  background-color: $primarycolorSoft;
  p {
    color: $primarycolor;
  }
}

.autor .fa-heart-loved {
  color: $red;
  font-size: 2.5rem;
}

.source-logo i {
  font-size: 2.2rem;
  margin: 0rem 0.8rem;
  color: $primarycolor;
}

.source-logo:first-of-type i {
  font-size: 2.2rem;
  margin: 0rem 0.8rem 0 0;
  color: $primarycolor;
}

.time-logo {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem;
}
.top-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // margin:0 1rem;
}
.image-preview-display {
  height: 15rem;
  background-image: url("/images/city.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: saturate(0.25) hue-rotate(320deg);
    -webkit-filter: saturate(0.25) hue-rotate(190deg);
  }
}

.bottom-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  // margin: 0 1rem;
  position: relative;
  bottom: 0rem;
}

.description-preview-display {
  // margin: 0rem 1rem;
  padding: 0rem;
}

.sources-preview-display {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.time-preview-display {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.likes-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // font-size: 1.7rem;
}

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.previews {
  text-decoration: none;
  color: inherit;
  :hover {
    cursor: pointer;
  }
}

.no-hover{
  
    color: $primarycolor;
    font-size: 1.8rem;
    margin: 0 1rem 0 0;
    transition: 0.2s;
  
  :hover{
    cursor: default;
    color: $primarycolor;
  }
}