.ghost{
  opacity: .1;
  background: rgba(61, 88, 99,1);
}

////


.stack-categorytime {
  position: relative;
}

.stack-categorytime select {
  background-color: $white;
  color: $primarycolor;
  padding: 1rem;
  width: 10rem;
  border: 2px solid $primarycolor;
  font-size: 1.8rem;
  -webkit-appearance: select;
  appearance: select;
  outline: none;
  border-radius:0;
}



h3{
  font-size: 1.6em;
  margin:0rem 0 1rem 0;
  color: $primarycolor;
}

////

.new-stack-wrapper{
  width:100%;
  justify-content: space-between;
  display:flex;
  input, select,button{
    padding:1rem;
    margin:1rem 0;
    // font-size:2rem;
  }
  p{
    margin:1rem 0;
    // font-size:2rem;
  }

  h2{
    font-size:2.5rem;
    color:$primarycolor;
    padding:0;
    background:none;  
  }
  textarea{
    width:100%;
  }
}

.creation-border{
  display: flex;
  width:50%;
  background-color: $primarycolor;
  padding:2rem;
  min-height:90vh;
  
}

h1{
  margin:2rem 0;
}

.creation{
  padding:2rem 4rem;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;

  input{
    margin-top:0rem;
    padding:0.75rem;
  }

.stack-mainInfo{
  background-color:$white;
  width:100%;
  display:flex;
  flex-wrap:wrap;
}

.step-creation{
  width:100%;
  display:flex;
  flex-wrap:wrap;

}
.stack-titledesc{
  width:100%;
  display: flex;
  flex-direction: column;
  margin:1rem 0 2rem 0;
  input{
    border: 2px solid $primarycolor;
  }
 
}


.stack-imageupload{
  display: flex;
  flex-direction: column;
  margin:1rem 0 2rem 0;
}

.imageupload-select{
  display:flex;
  justify-content: space-between;
  align-items: center;
  a{
    background-color: $primarycolor;
    color: $white;
    padding:1rem 2rem;
    border:2px solid $white;
    transition: 0.3s;
  }
  a:hover{
    background-color: $white;
    border:2px solid $primarycolor;
    color: $primarycolor;
    padding:1rem 2rem;
    transition: 0.3s;
    cursor:pointer;
  }
  a:active{
    transform: scale(0.8);
  }
  input{
    appearance: none;
  }
}

.img-container{
  width:100%;

  img{
    width: 100%;
    object-fit: contain;
  }
}

.stack-categorytime{
  display:flex;
  justify-content: flex-start;
  
  width:100%;
  div{
    margin:1rem 0 2rem 0;
    display:flex;
    align-items: center;
    justify-content: center;
  }
  div:last-of-type{
    margin-left:4rem;
  }
  p{
    margin-right:2rem;
    padding:0;
  }
}

.stack-creation{
  width:100%;
}


}

.new-border{
  border: 2px solid $primarycolor;
  padding:2rem;
}

.btn-stackInfo,
.btn-addStep,
.btn-editStackInfo{
  font-size:1.4rem;
}

.new-preview{
  padding:4rem;
  width:50%;
  display:flex;
  flex-direction: column;
  align-items: left;
  background-color:$white;
 

  .new-stack-step{
    padding:1rem;
    margin:1rem 0;
    background-color: rgba(61, 88, 99,0.1);

  }

  .new-stack-step:hover{
    cursor:  all-scroll;
  }

  .new-img-stack{
    width:100%;
    height:100%;
    object-fit: contain;
    filter: saturate(0.3);
  }
}

.spotify-result img{
  width:100%;
  object-fit: contain;
}


.spotify-results-list{
  list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;

  li{
    display: flex;
    background-color: #ccc;
    padding: 0.5rem;
    margin: 0.5rem 0;
    transition: 0.3s;
    width: 48%;
    flex-wrap: wrap;


    img{
      width:100%;
      height:100%;
      object-fit: contain;
    }
  }

  li:hover{
    cursor:pointer;
    background-color: rgba(111, 117, 131, 0.5);
    transition:0.3s;
  }

  // li:hover ~ li{
  //   opacity:0.5;
  // }
}

.new-stack-step div{
  display:flex;

  div:first-of-type{
    width:30%;

    img{
      width:100%;
      height:100%;
      object-fit: contain;
    }
  }
  div:last-of-type{
    width:70%;
  }
}

.spotify-result{
  display:flex;
  justify-content: space-between;
  width:100%;
  
  
  div:first-of-type{
    width:20%;
  }

  div:last-of-type{
    width:75%;

  }
}

#new-stack-image{
  margin-bottom:2rem;
}

.new-step{
  padding:1rem 1rem;
  border-top: 2px solid $primarycolor;
  transition:all 0.3s;
}

.new-step:hover{
  background-color: $primarycolorSoft;
  transition:all 0.3s;
}


.new-step:last-of-type{
  padding:1rem 1rem;
  border-top: 2px solid $primarycolor;
  border-bottom: 2px solid $primarycolor;
  transition:all 0.3s;
  margin-bottom:2px;
}

.source-creation{
  display:flex;
  flex-direction: column;
  width:100%;
}

.step-controllers{
  width:100%;
  display: flex;
  justify-content: space-between;
}