.hidden {
  display: none !important; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

textarea {
  resize: none; }

.main-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
  display: flex; }

input {
  border: none; }

.login-box {
  position: fixed;
  top: 13rem;
  right: 5rem; }

.login-box {
  z-index: 1000;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #145B82;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  width: 25rem;
  right: 32.5rem;
  top: 9rem;
  z-index: 500; }
  .login-box .close-login {
    position: fixed;
    top: 9.5;
    right: 33.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem; }
  .login-box .login-fields {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0; }
    .login-box .login-fields label {
      margin: 1.2rem 0 0rem 0;
      color: #145B82; }
    .login-box .login-fields input {
      margin: 1rem 0;
      background-color: #EBF4E7;
      padding: 1rem 0.5rem; }
    .login-box .login-fields input:focus {
      margin: 1rem 0;
      background-color: #145B82;
      padding: 1rem 0.5rem;
      color: #ffffff;
      outline: none; }
    .login-box .login-fields input:focus::placeholder {
      color: #ffffff; }

.logins-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1rem 0; }

.signup-wrapper {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
  border: 2px solid #145B82; }
  .signup-wrapper h2 {
    font-size: 3rem;
    background-color: rgba(255, 255, 255, 0);
    color: #145B82;
    margin: 3rem 0;
    font-weight: 600; }
  .signup-wrapper p {
    font-size: 2rem;
    margin: 2rem 0; }
  .signup-wrapper input, .signup-wrapper label {
    font-size: 1.6rem; }
  .signup-wrapper input {
    padding: 1.5rem;
    border: 2px solid #145B82;
    margin-bottom: 3rem;
    width: 100%; }
  .signup-wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .signup-wrapper label {
    margin-bottom: 0.5rem; }
  .signup-wrapper button {
    font-size: 2rem; }
  .signup-wrapper input:focus {
    background-color: #EBF4E7;
    outline: none; }

html {
  font-size: 10px; }

body {
  font-family: 'IBM Plex Sans Condensed', sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: 200; }

h2 {
  font-size: 1.8rem;
  background-color: #145B82;
  color: #ffffff;
  padding: 0 1rem;
  font-weight: 200;
  margin: 0; }

h3 {
  font-size: 1.8rem;
  font-weight: 200; }

h4 {
  font-size: 1.4rem;
  font-weight: 200; }

h5 {
  font-size: 1.4rem;
  font-weight: 200; }

p {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 2rem; }

a {
  font-size: 1.4rem;
  font-weight: 200; }

textarea {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 1.4rem; }

label {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 1.4rem; }

input {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 1.4rem; }

nav {
  height: 8rem;
  background-color: #EBF4E7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  width: 100%;
  /* Full width */
  z-index: 100; }

nav a {
  text-decoration: none;
  font-size: 1.6rem; }

nav div {
  margin: 0 1rem; }
  nav div a {
    margin: 0 1rem;
    padding: 1rem 2rem;
    transform: translateX(0); }
  nav div a:hover {
    margin: 0 1rem;
    background-color: #145B82;
    color: #ffffff;
    transition: 0.3s ease-out; }
  nav div a:active {
    border: 2px solid #145B82;
    color: #145B82;
    background-color: #ffffff; }
  nav div a:visited {
    color: #145B82; }
  nav div a:visited:hover {
    color: #ffffff; }

.logo-wrapper {
  top: 2rem;
  padding: 0;
  transition: 0.3s ease-out; }

.logo-wrapper:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  transform: rotate3d(0, 1, 0, -20deg); }

.logo-wrapper:hover::after {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s; }

.mainlogo {
  fill: #145B82;
  stroke-dashoffset: 1px;
  width: 18rem;
  align-self: center; }

.nav-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  max-width: 1150px; }
  .nav-center div {
    margin-left: 0;
    margin-right: 0; }
  .nav-center .login-buttons a:last-of-type {
    margin-right: 0; }

.subnav-link {
  transition: 0.3s ease-in;
  text-decoration: none; }

.subnav-link:hover {
  transform: translateY(-1rem);
  text-decoration: none; }

button {
  background-color: transparent;
  border: 2px solid #145B82;
  display: inline-block;
  cursor: pointer;
  color: #145B82;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 0.5rem;
  transition: 0.3s; }

button:hover {
  background-color: #145B82;
  color: #ffffff;
  transition: 0.3s; }

button:active {
  position: relative;
  top: 1px; }

.le-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 85%;
  max-width: 1150px;
  margin-top: 1rem; }
  .le-filter .le-fix {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    /* .le-likes{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	flex-wrap: nowrap;
	margin: 1rem;
	  .le-big-like{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		border: 0.1rem solid $primarycolor;
		padding: 0.4rem 0.9rem;
		margin: 0rem 0.5rem;
		cursor: pointer;
		
		.special{
			margin:0;
			padding:0;	
		}
	  }
	  
  } */ }
    .le-filter .le-fix .le-time {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0.5rem; }
      .le-filter .le-fix .le-time .le-sub-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        border-radius: 42%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.9rem;
        margin: 0rem 0.3rem;
        cursor: pointer;
        color: #145B82; }
    .le-filter .le-fix .le-category {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0.5rem; }
      .le-filter .le-fix .le-category .le-sport {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 1.3rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
      .le-filter .le-fix .le-category .le-spare {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 1.3rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
      .le-filter .le-fix .le-category .le-culture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 1.3rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
      .le-filter .le-fix .le-category .le-learning {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 40%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 1.3rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
    .le-filter .le-fix .le-source {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      margin: 0.5rem; }
      .le-filter .le-fix .le-source .le-spotify {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.7rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
        .le-filter .le-fix .le-source .le-spotify .fix {
          margin: 0;
          padding: 0; }
      .le-filter .le-fix .le-source .le-youtube {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.6rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
        .le-filter .le-fix .le-source .le-youtube .fix {
          margin: 0;
          padding: 0; }
      .le-filter .le-fix .le-source .le-book {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.8rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
        .le-filter .le-fix .le-source .le-book .fix {
          margin: 0;
          padding: 0; }
      .le-filter .le-fix .le-source .le-media {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.9rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
        .le-filter .le-fix .le-source .le-media .fix {
          margin: 0;
          padding: 0; }
      .le-filter .le-fix .le-source .le-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 45%;
        border: 0.1rem solid #145B82;
        padding: 0.4rem 0.7rem;
        margin: 0rem 0.3rem;
        cursor: pointer; }
        .le-filter .le-fix .le-source .le-link .fix {
          margin: 0;
          padding: 0; }

.all-stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  max-width: 1150px; }

.one-stack {
  /* height: 35rem; */
  padding: 1.5rem;
  width: 35rem;
  height: 40rem;
  border: 2px solid #145B82;
  box-shadow: 10px 10px 0px 2px #EBF4E7;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s; }
  .one-stack h2:hover {
    transform: translateX(2rem);
    transition: 0.3s; }
  .one-stack a {
    text-decoration: none;
    color: #145B82;
    transition: 0.2s; }
  .one-stack a:hover {
    text-decoration: underline;
    transition: 0.2s; }

.one-stack:hover {
  box-shadow: 10px 10px 0px 2px #145B82;
  transition: 0.3s; }

.mid-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.category-logo {
  height: 2.5rem;
  width: 2.5rem;
  color: #145B82;
  fill: #145B82; }

.fa-heart {
  color: #145B82;
  font-size: 1.8rem;
  margin: 0 1rem 0 0;
  transition: 0.2s; }

.fa-heart:hover {
  color: #b52424;
  font-size: 1.8rem;
  margin: 0 1rem 0 0;
  transition: 0.2s; }

.stopwatch {
  width: 2.5rem;
  height: 2.5rem;
  fill: #145B82; }

.fa-user {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #145B82; }

.autor {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #EBF4E7; }
  .autor p {
    color: #145B82; }

.autor .fa-heart-loved {
  color: #b52424;
  font-size: 2.5rem; }

.source-logo i {
  font-size: 2.2rem;
  margin: 0rem 0.8rem;
  color: #145B82; }

.source-logo:first-of-type i {
  font-size: 2.2rem;
  margin: 0rem 0.8rem 0 0;
  color: #145B82; }

.time-logo {
  height: 2rem;
  width: 2rem;
  margin: 0rem 1rem; }

.top-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.image-preview-display {
  height: 15rem;
  background-image: url("/images/city.jpeg");
  background-repeat: no-repeat;
  background-size: cover; }
  .image-preview-display img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: saturate(0.25) hue-rotate(320deg);
    -webkit-filter: saturate(0.25) hue-rotate(190deg); }

.bottom-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: relative;
  bottom: 0rem; }

.description-preview-display {
  padding: 0rem; }

.sources-preview-display {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.time-preview-display {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center; }

.likes-preview-display {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.previews {
  text-decoration: none;
  color: inherit; }
  .previews :hover {
    cursor: pointer; }

.ghost {
  opacity: .1;
  background: #3d5863; }

.stack-categorytime {
  position: relative; }

.stack-categorytime select {
  background-color: #ffffff;
  color: #145B82;
  padding: 1rem;
  width: 10rem;
  border: 2px solid #145B82;
  font-size: 1.8rem;
  -webkit-appearance: select;
  appearance: select;
  outline: none;
  border-radius: 0; }

.book-img {
  width: 100%;
  object-fit: contain; }

h3 {
  font-size: 1.6em;
  margin: 0rem 0 1rem 0;
  color: #145B82; }

.new-stack-wrapper {
  width: 100%;
  justify-content: space-between;
  display: flex; }
  .new-stack-wrapper input, .new-stack-wrapper select, .new-stack-wrapper button {
    padding: 1rem;
    margin: 1rem 0; }
  .new-stack-wrapper p {
    margin: 1rem 0; }
  .new-stack-wrapper h2 {
    font-size: 2.5rem;
    color: #145B82;
    padding: 0;
    background: none; }
  .new-stack-wrapper textarea {
    width: 100%; }

.creation-border {
  display: flex;
  width: 50%;
  background-color: #145B82;
  padding: 2rem;
  min-height: 90vh; }

h1 {
  margin: 2rem 0; }

.creation {
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; }
  .creation input {
    margin-top: 0rem;
    padding: 0.75rem; }
  .creation .stack-mainInfo {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .creation .step-creation {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
  .creation .stack-titledesc {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0; }
    .creation .stack-titledesc input {
      border: 2px solid #145B82; }
  .creation .stack-imageupload {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem 0; }
  .creation .imageupload-select {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .creation .imageupload-select a {
      background-color: #145B82;
      color: #ffffff;
      padding: 1rem 2rem;
      border: 2px solid #ffffff;
      transition: 0.3s; }
    .creation .imageupload-select a:hover {
      background-color: #ffffff;
      border: 2px solid #145B82;
      color: #145B82;
      padding: 1rem 2rem;
      transition: 0.3s;
      cursor: pointer; }
    .creation .imageupload-select a:active {
      transform: scale(0.8); }
    .creation .imageupload-select input {
      appearance: none; }
  .creation .img-container {
    width: 100%; }
    .creation .img-container img {
      width: 100%;
      object-fit: contain; }
  .creation .stack-categorytime {
    display: flex;
    justify-content: flex-start;
    width: 100%; }
    .creation .stack-categorytime div {
      margin: 1rem 0 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center; }
    .creation .stack-categorytime div:last-of-type {
      margin-left: 4rem; }
    .creation .stack-categorytime p {
      margin-right: 2rem;
      padding: 0; }
  .creation .stack-creation {
    width: 100%; }

.new-border {
  border: 2px solid #145B82;
  padding: 2rem; }

.btn-stackInfo,
.btn-addStep,
.btn-editStackInfo {
  font-size: 1.4rem; }

.new-preview {
  padding: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #ffffff; }
  .new-preview .new-stack-step {
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(61, 88, 99, 0.1); }
  .new-preview .new-stack-step:hover {
    cursor: all-scroll; }
  .new-preview .new-img-stack {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: saturate(0.3); }

.spotify-result img,
.book-result img {
  width: 100%;
  object-fit: contain; }

.spotify-results-list,
.books-results-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem; }
  .spotify-results-list li,
  .books-results-list li {
    display: flex;
    background-color: #ccc;
    padding: 0.5rem;
    margin: 0.5rem 0;
    transition: 0.3s;
    width: 48%;
    flex-wrap: wrap; }
    .spotify-results-list li img,
    .books-results-list li img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .spotify-results-list li:hover,
  .books-results-list li:hover {
    cursor: pointer;
    background-color: rgba(111, 117, 131, 0.5);
    transition: 0.3s; }

.new-stack-step div {
  display: flex; }
  .new-stack-step div div:first-of-type {
    width: 30%; }
    .new-stack-step div div:first-of-type img {
      width: 100%;
      height: 100%;
      object-fit: contain; }
  .new-stack-step div div:last-of-type {
    width: 70%; }

.spotify-result,
.books-result {
  display: flex;
  justify-content: space-between;
  width: 100%; }
  .spotify-result div:first-of-type,
  .books-result div:first-of-type {
    width: 20%; }
  .spotify-result div:last-of-type,
  .books-result div:last-of-type {
    width: 75%; }

#new-stack-image {
  margin-bottom: 2rem; }

.new-step {
  padding: 1rem 1rem;
  border-top: 2px solid #145B82;
  transition: all 0.3s; }

.new-step:hover {
  background-color: #EBF4E7;
  transition: all 0.3s; }

.new-step:last-of-type {
  padding: 1rem 1rem;
  border-top: 2px solid #145B82;
  border-bottom: 2px solid #145B82;
  transition: all 0.3s;
  margin-bottom: 2px; }

.source-creation {
  display: flex;
  flex-direction: column;
  width: 100%; }

.step-controllers {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.html-detail {
  width: 60%;
  max-width: 800px;
  border-left: 4px solid #EBF4E7;
  padding-left: 4rem;
  border-image-source: linear-gradient(white, #EBF4E7);
  border-image-slice: 5 2; }
  .html-detail h1 {
    margin-top: 6rem;
    margin-bottom: 6rem; }

.header-detail {
  height: 25rem;
  z-index: 3; }
  .header-detail .image-detail {
    object-fit: cover;
    width: 100%;
    height: inherit;
    max-width: inherit;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 0;
    margin: 0;
    filter: saturate(0.3); }
  .header-detail .info-detail {
    position: absolute;
    top: 16rem;
    z-index: 6000; }
    .header-detail .info-detail h1 {
      color: #ffffff;
      font-size: 4rem;
      margin-left: 2rem; }
    .header-detail .info-detail h4 {
      color: #145B82;
      background-color: #EBF4E7;
      margin-left: 2rem;
      padding: 1rem 2rem;
      font-size: 1.6rem; }

.description-detail {
  border: 2px solid #145B82;
  margin: 2rem 0;
  padding: 2rem; }
  .description-detail p {
    font-size: 1.6rem; }

.one-step {
  border: 2px solid #EBF4E7;
  margin: 2rem 0;
  padding: 2rem;
  position: relative; }
  .one-step p {
    font-size: 1.6rem; }
  .one-step .step-number-detail h3 {
    position: absolute;
    font-size: 2rem;
    margin: 0rem 0 1rem 0;
    color: #ffffff;
    margin-left: -8.4rem;
    padding: 1rem 1.4rem;
    border-radius: 50%;
    background-color: #145B82; }
  .one-step .step-desc-detail h2 {
    font-size: 2rem;
    font-weight: 600;
    background-color: #ffffff;
    color: #145B82;
    padding: 0;
    margin: 1rem 0; }
  .one-step .step-youtube {
    margin: 2rem 0;
    height: 35rem; }
    .one-step .step-youtube .youtube-embed {
      width: 100%;
      height: 100%; }
  .one-step .step-spotify {
    margin: 2rem 0;
    height: 8rem; }
    .one-step .step-spotify .spotify-embed {
      width: 100%;
      height: 100%; }
  .one-step .step-googlebook {
    margin: 2rem 0;
    display: flex; }
    .one-step .step-googlebook .google-img {
      width: 20%; }
      .one-step .step-googlebook .google-img img {
        width: 100%;
        object-fit: contain; }
    .one-step .step-googlebook .google-desc {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .one-step .step-googlebook .google-desc h2 {
        background-color: #ffffff;
        color: #145B82;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        padding: 0;
        font-weight: 600; }
      .one-step .step-googlebook .google-desc a {
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        background-color: #EBF4E7;
        color: #145B82;
        transition: 0.3s; }
      .one-step .step-googlebook .google-desc a:hover::before {
        content: ">> "; }
      .one-step .step-googlebook .google-desc a:hover {
        transform: translateX(2rem); }
  .one-step .step-doc {
    margin: 2rem 0;
    display: flex; }
    .one-step .step-doc .doc-img {
      width: 20%; }
      .one-step .step-doc .doc-img img {
        width: 100%;
        object-fit: contain; }
    .one-step .step-doc .doc-desc {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .one-step .step-doc .doc-desc h2 {
        background-color: #ffffff;
        color: #145B82;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        padding: 0;
        font-weight: 600; }
      .one-step .step-doc .doc-desc a {
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        background-color: #EBF4E7;
        color: #145B82;
        transition: 0.3s; }
      .one-step .step-doc .doc-desc a:hover::before {
        content: ">> "; }
      .one-step .step-doc .doc-desc a:hover {
        transform: translateX(2rem); }
  .one-step .step-link {
    margin: 2rem 0;
    display: flex; }
    .one-step .step-link .link-img {
      width: 20%; }
      .one-step .step-link .link-img img {
        width: 100%;
        object-fit: contain; }
    .one-step .step-link .link-desc {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .one-step .step-link .link-desc h2 {
        background-color: #ffffff;
        color: #145B82;
        margin-bottom: 1rem;
        font-size: 1.8rem;
        padding: 0;
        font-weight: 600; }
      .one-step .step-link .link-desc a {
        text-decoration: none;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        background-color: #EBF4E7;
        color: #145B82;
        transition: 0.3s; }
      .one-step .step-link .link-desc a:hover::before {
        content: ">> "; }
      .one-step .step-link .link-desc a:hover {
        transform: translateX(2rem); }

.one-step:hover {
  box-shadow: 10px 10px 0px 2px #145B82; }

#wrapper-index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #EBF4E7; }
  #wrapper-index h1 {
    font-size: 2rem;
    line-height: 2.5rem; }
  #wrapper-index a {
    font-size: 1.8rem;
    padding: 2rem 4rem;
    background-color: #145B82;
    color: #EBF4E7;
    margin: 2rem 0;
    text-decoration: none;
    border: 2px solid #145B82; }
  #wrapper-index a:hover::before {
    content: ">> ";
    transition: 0.5s; }
  #wrapper-index a:hover {
    border: 2px solid #145B82;
    color: #145B82;
    background-color: #EBF4E7;
    transition: 0.3s; }

.logo-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  fill: #145B82;
  width: 50%; }

.logobig {
  fill: #145B82;
  width: 100%; }

/*# sourceMappingURL=style.css.map */