.hidden{
  display:none !important;
}

$spacetop:8rem;
$primarycolor:#145B82;
$primarycolorSoft: #EBF4E7;
$white: #ffffff;
$red:#b52424;
$globalwidth:85%;
$maxwidth:1150px;

// $primarycolor:rgba(59, 69, 255, 1);
//$primarycolorSoft: rgba(59, 69, 255, 0.05);


// $primarycolor:rgba(59, 170, 255,1);
// $primarycolorSoft: rgba(59, 170, 255,0.2);

// $primarycolor:rgba(random(255),random(255),random(255),1);
// $primarycolorSoft: rgba(random(255),random(255),random(255),0.2);

// $primarycolor:rgba(48, 156, 102,1);
// $primarycolorSoft: rgba(48, 156, 102,0.2);